.section {
  padding: 200px 250px 80px;
  background: #222;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.block {
  display: flex;
  gap: 43px;
  align-items: flex-start;
}

.blockPolicy {
  display: grid;
  grid-template-columns: 541px 1fr;
  column-gap: 43px;
  row-gap: 43px;
  align-items: start;
}

.blockPolicy .mediaBlock {
  grid-column: 1;
  grid-row: 1;
}

.blockPolicy .actionButton {
  grid-column: 1;
  grid-row: 2;
}

.blockPolicy .contentBlock {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.blockSupport {
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
  justify-content: space-between;
}

.blockSupport .mediaBlock {
  width: 549px;
}

.blockSupport .image {
  width: 549px;
  height: 257px;
  border-radius: 8px;
  box-shadow:
    0 4px 4px -1px rgba(0, 0, 0, 0.1),
    0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.blockSupport .contentBlock {
  max-width: 801px;
  gap: 24px;
}

.blockSupport .title {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #d9ba88;
}

.blockSupport .textGroup {
  gap: 16px;
}

.blockSupport .text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #f4f4f4;
}

.mediaBlock {
  width: 541px;
  flex-shrink: 0;
}

.image {
  border-radius: 11px;
  width: 541px;
  height: 318px;
  object-fit: cover;
  display: block;
}

.actionButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1.33px solid var(--zoloto);
  border-radius: 5px;
  padding: 10px 18px;
  width: 100%;
  min-height: 52px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: var(--zoloto);
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.actionButton:hover {
  color: var(--chorniy);
  border: 1px solid #d49e50;
  background: #d49e50;
}

.contentBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin: 0;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%;
  color: var(--zoloto);
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: var(--bіliy);
}

.socialButtons {
  display: flex;
  gap: 14px;
}

.socialButton:hover {
  color: var(--chorniy);
  border: 1px solid #d49e50;
  background: #d49e50;
}

.socialButton {
  border: 1.33px solid var(--zoloto);
  border-radius: 5px;
  padding: 10px 18px;
  min-width: 152px;
  min-height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  color: var(--zoloto);
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  transition: all 0.2s ease;
}

.socialButton svg {
  width: 20px;
  height: 20px;
}

.supportButton {
  border: 1px solid #d9ba88;
  border-radius: 4px;
  padding: 8px 12px;
  width: 265px;
  min-height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  color: #d9ba88;
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.supportButton:hover {
  color: var(--chorniy);
  border-color: #d9ba88;
  background: #d9ba88;
}

.supportButtonExtra {
  display: none;
}

@media (max-width: 1000px) {
  .section {
    padding: mvw(108) mvw(16) mvw(48);
    background: #121212;
  }

  .container {
    gap: mvw(40);
    max-width: 100%;
  }

  .block {
    flex-direction: column;
    gap: mvw(20);
  }

  .blockSupport {
    flex-direction: column;
    gap: mvw(20);
  }

  .blockSupport .mediaBlock {
    width: 100%;
    order: 1;
  }

  .blockSupport .contentBlock {
    max-width: none;
    gap: mvw(8);
    order: 2;
  }

  .blockSupport .image {
    width: 100%;
    height: mvw(150);
    border-radius: mvw(8);
    box-shadow: none;
  }

  .blockSupport .title {
    font-size: mvw(24);
    text-align: center;
  }

  .blockSupport .text {
    font-size: mvw(13);
  }

  .blockPolicy {
    display: flex;
    flex-direction: column;
    gap: mvw(12);
  }

  .mediaBlock {
    order: 1;
    width: 100%;
    flex-shrink: unset;
  }

  .contentBlock {
    order: 2;
    gap: mvw(8);
    width: 100%;
  }

  .blockPolicy .actionButton {
    order: 3;
  }

  .image {
    width: 100%;
    height: mvw(150);
    border-radius: mvw(8);
  }

  .title {
    font-family: var(--font3);
    font-weight: 400;
    font-size: mvw(24);
    line-height: 120%;
    text-align: center;
    color: var(--zoloto);
  }

  .textGroup {
    gap: mvw(16);
  }

  .text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: mvw(13);
    line-height: 120%;
    color: var(--bіliy);
  }

  .actionButton {
    width: 100%;

    font-family: var(--third-family);
    font-weight: 500;
    font-size: mvw(14);
    line-height: 143%;
    color: var(--zoloto);

    border: mvw(1) solid var(--zoloto);
    border-radius: mvw(4);
    padding: mvw(8) mvw(12);

    min-width: mvw(36);
    min-height: mvw(36);
  }

  .socialButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: mvw(12);
    width: 100%;
  }

  .socialButton {
    min-width: 0;
    width: 100%;
    min-height: mvw(48);

    font-family: var(--third-family);
    font-weight: 500;
    font-size: mvw(14);
    line-height: 143%;
    color: var(--zoloto);

    border: 1px solid var(--zoloto);
    border-radius: mvw(4);
    padding: mvw(8) mvw(12);

    min-width: mvw(36);
    min-height: mvw(36);
  }

  .socialButton svg {
    display: none;
  }

  .supportButton {
    width: 100%;
    min-height: mvw(36);
    border: 1px solid #d9ba88;
    justify-content: center;
    background: transparent;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: mvw(14);
    line-height: 143%;
    color: #d9ba88;
    border-radius: mvw(4);
    padding: mvw(8) mvw(12);
  }

  .supportButton:hover {
    background: #d9ba88;
    color: var(--chorniy);
    border-color: #d9ba88;
  }
}
