.root {
  /* position: absolute; */
  /* bottom: 20px;
  right: 20px; */
  width: 100%;

  background: var(--zoloto);
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 21px;
  min-height: 48px;
}

.cartIconText {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  color: var(--chorniy);
}

.root:hover {
  background: #d49e50;

  /* border: 1px solid var(--zoloto); */
}

.root svg {
  width: 20px;
  height: 20px;
  display: block;
}

.active {
  background: #3a8f5c;
  color: var(--black);
  /* opacity: 0.5; */
}

.active .cartIconText {
  color: var(--bіliy);
}

.cartIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  img {
    width: 18px;
    height: 18px;
  }
}

.checkIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bіliy);
}

.checkIcon svg {
  width: 20px;
  height: 20px;
  display: block;
}

@media (max-width: 1000px) {
  .root {
    /* position: absolute; */
    width: auto;
    height: auto;
    border-radius: mvw(8);
    /* bottom: mvw(12);
    right: mvw(12); */
    background: none;
  }
  .root svg {
    width: mvw(18);
    height: mvw(18);
  }

  .checkIcon svg {
    width: mvw(18);
    height: mvw(18);
  }
}
