.section {
  background: #222;
  padding: 48px 24px 36px;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionTitle {
  margin: 0;
  text-align: center;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 53px;
  line-height: 120%;
  color: var(--bіliy);
}

.faqGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.faqCard {
  border-radius: 11px;
  padding: 16px 26px;
  box-shadow:
    0 13px 20px -4px rgba(0, 0, 0, 0.1),
    0 5px 8px -5px rgba(0, 0, 0, 0.1);
  background: rgba(68, 112, 57, 0.36);
}

.faqCardInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqTitle {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: var(--bіliy);
}

.faqTextWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqTextSplit {
  gap: 20px;
}

.faqText {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: var(--bіliy);
}

@media (max-width: 1280px) {
  .sectionTitle {
    font-size: 42px;
  }

  .faqTitle {
    font-size: 30px;
  }

  .faqText {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .section {
    background: #121212;
    padding: mvw(15) mvw(16) mvw(15);
  }

  .container {
    gap: mvw(12);
  }

  .sectionTitle {
    font-size: mvw(24);
    line-height: 120%;
  }

  .faqGrid {
    grid-template-columns: 1fr;
    gap: mvw(16);
  }

  .faqCard {
    background: #37412e;
    border-radius: mvw(8);
    padding: mvw(12);
    box-shadow: none;
  }

  .faqCardInner {
    gap: mvw(8);
  }

  .faqTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: mvw(16);
    line-height: 120%;
    color: var(--bіliy);
  }

  .faqTextWrap {
    gap: mvw(0);
  }

  .faqTextSplit {
    gap: mvw(12);
  }

  .faqText {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: mvw(11);
    line-height: 150%;
    color: #d1d1d1;
  }
}
